*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}
body{
    font-family: 'Oswald';
    background-color: #f4f4f4;
}

header{
    background-color: rgb(48, 109, 189);
    color: aliceblue;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 110px;
  
}
.titulo{
    display: flex;
    justify-content: center;
    margin: 30px;
}
#cards{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 20px;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
 
}



.card img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10PX;
}

.card h3 {
  margin: 10px 0 5px;
  font-size: 22px;
}

.card p {
  font-size: 14px;
  color: #555;
}

.card strong {
  display: block;
  margin-top: 10px;
  font-size: 26px;
  color: #2ecc71;
  
}